body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10 px;
    text-align: center;
    background-color: #9fde8e;
}

.project {
    text-align: left;
}

.textcenter {
    text-align: center;
}
header {
    background: #969696;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    padding: 20px;
}

.project {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

footer {
    background: #969696;
    color: white;
    padding: 10px;
}